@import 'https://fonts.googleapis.com/css?family=Anton|Lobster';
@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Oswald';
@import 'https://fonts.googleapis.com/css?family=PT+Sans+Narrow';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  /*  background-color: rgb(10, 36, 64);*/
}


/*Global Library - Start*/
.fullWidth{
    width:100%;
}

.fullHeight{
    height: 100%;

}

.margin5{
    margin:5px;
}

.margin10{
    margin:10px;
}

.marginTop5{
    margin-top:5px;
}

.marginTop10{
    margin-top:10px;
}

.marginBottom5{
    margin-bottom:5px;
}

.marginBottom10{
    margin-bottom:10px;
}

.marginAuto{
    margin: auto;
}

.textAlignCenter{
    text-align: center;
}

.floatLeft{
    float:left;

}

.boxShadowTransparent{
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter:         drop-shadow(5px 5px 5px black);
}


.floatRight{
    float:right;
}
.padding5{
    padding:5px;
}

.padding10{

    padding:10px;
}


.padding20{

    padding:20px;
}

.paddingTop5{
    padding-top:5px;
}

.paddingTop10{

    padding-top:10px;
}

.colorBlack{
    color:black;

}
.colorGreen{
    color:green;

}
.colorRed{
    color:red;

}
.colorBlue{
    color:blue;

}


.backRgbaOnBlacks{
    background-color:rgba(0,0,0,0.3) ;
}

.backColorWhite{

    background-color:white;
}

.backColorBlack{
    background-color:black;

}

.boxShadow{
    box-shadow: 2px 2px 3px black;
}

.backColorGrey{
    background-color: rgb(10, 36, 64);
}


.backColorGreen{
    background-color:green;

}
.backColorRed{
    background-color:red;

}
.backColorBlue{
    background-color:blue;

}

.pHeader{
    font-family: 'Oswald', sans-serif;
     color:white;
    font-size: 40px;
}

.pGlobalFont{
color:white;
    font-family: 'PT Sans Narrow', sans-serif;
font-size: 20px;
}


/* Global Library - End */

/*Elements with IDS */
#pageHeader{
height: 113px;
}


.forPermissionsContainer{
    background-color:rgb(10,36,64);
    margin-left:20px;margin-right:20px;
    margin-top:20px;
    height: 450px;

}

#studentPanelBoard{

    background-color:rgb(10,36,64);
    margin-left:20px;margin-right:20px;
    margin-top:20px;
    height: 450px;

}

#parentsPanelBoard{
    background-color:rgb(10,36,64);
    margin-left:20px;margin-right:20px;
    margin-top:20px;
    min-height: 450px;
}

#driverPanelBoard{
    background-color:rgb(10,36,64);
    margin-left:20px;margin-right:20px;
    margin-top:20px;
    min-height: 450px;
}

#panelItemsContainer{
    min-height: 142px;
    background-color: rgb(21, 26, 31);

position: relative;
}



/*Usable classes*/

.webSiteNameFont{
!important;

    font-family: 'Lobster', cursive;
    font-size: 5em;
    color: red;
}


.controlPanelItem   span {
    color:rgb(8,134,202);
    font-size: 50px;
}

.borderSmall{

    border-style: solid;
    border-width: 1px;
}

.controlPanelItem{
width:142px;
    height: 130px;
    float:left;
   margin:5px;
    position: relative;
    cursor: pointer;
    /*border: 1px solid grey;*/

}

.panelInnerForMargin{
    width: 500px;
    margin: auto;
}

.controlPanelItem:hover{


    background-color: rgb(2, 35, 52);
}

.shadowDagger{

}

.shadowDagger:hover{
    border-bottom: 6px solid red;
    color:blue;
}

.contactDiv{
    background-color: rgb(10, 36, 64);
    padding: 30px;
    margin: 0px;

}


input[type=text], select,textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}


.submitDiv{

    text-align: center;
    width: 119px;
    margin: auto;
    background-color: rgb(4,134,203);
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    box-shadow: 1px 2px 2px black;
}


.textShadow{
    text-shadow: 2px 3px 3px black;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(4,134,203);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}

input[type=password]{


    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}
input[type=submit]:hover {
    background-color: rgb(18,104,243);
}

.submitDiv:hover{
    background-color: rgb(18,104,243);

}


.parallexWithImage{

    /* The image used */
    background-image: url('blueNotBlured2gdQuality.png');

    /* Full height */
    height: 450px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.containerForInvis{
    height: 350px;

}

/*Login Page*/
.loginBody{
    background-color: rgb(35,40,45);
    min-height: 700px;
}

.loginContainer{
    max-width: 450px;
    max-height: 450px;
    margin:auto;
}

/*Login Page*/




/*Control Panel CSS*/
.controlPanelContainer{

    background-color: rgb(35,40,45);



}



.centerElement{
    margin: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

/*Control Panel CSS*/

/*Usable classes*/


/*Elements with IDS */






/* My stuff*/



.forms
{
	margin: 10px;
	padding: 10px;
	background-color:#b1b6bf;
}













